useDynLib(RTextTools)
import(methods)
import(SparseM)
import(randomForest)
import(tree)
import(nnet)
import(tm)
import(e1071)
import(ipred)
import(maxent)
import(glmnet)
import(tau)

exportClasses(
              matrix_container,
              analytics,
              analytics_virgin
              )

export(wordStem, getStemLanguages)
export(classify_model, classify_models)
export(create_analytics, create_container, create_ensembleSummary, create_matrix, create_precisionRecallSummary, create_scoreSummary)
export(cross_validate)
export(print_algorithms, summary.analytics, summary.analytics_virgin)
export(read_data)
export(recall_accuracy)
export(train_models, train_model)

S3method("summary","analytics")
S3method("summary","analytics_virgin")